$color-one: #f6f8f8;
$color-two: black;
$color-three: #e2e3e2;
$color-four: #ffffff;
$position-one: relative;
$position-two: absolute;
$seratus-persen: 100%;
$display-one: flex;
$display-two: inline;
$display-three: inline-block;
$display-four: none;
$display-five: block;
$ukuran-satu: 50px;
$ukuran-dua: 100vh;
$ukuran-tiga: 0px;
$font-satu: sans-serif;

.discover-area {
  position: $position-one;
  display: $display-one;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: $seratus-persen;
  height: 700px;
}

.discover-area {
  background-color: $color-four;
  color: $color-two;
}

@media (max-width: 700px) {
}
