.text-jumbotron {
  position: absolute;
  top: 30%;
  left: 8%;
  color: white;
  font-size: 30px;
  font-family: sans-serif;
}

.button-jumbotron {
  position: absolute;
  top: 50%;
  left: 8%;
  background-color: #428ecb;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  font-family: sans-serif;
}

.gambar-area-one {
  position: absolute;
  max-width: 100%;
  width: 55%;
  height: 100%;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.gambar-area-two {
  position: absolute;
  max-width: 100%;
  width: 50%;
  height: 85%;
  margin-left: 660px;
}

.row-jumbotron {
  display: flex;
  flex-direction: row;
}

.column-jumbotron {
  float: left;
  width: 100%;
  height: 600px;
}

@media (max-width: 700px) {
  .text-jumbotron {
    top: 50%;
    left: 5%;
    font-size: 25px;
  }

  .button-jumbotron {
    top: 25%;
    left: 5%;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
  }

  .gambar-area-one {
    position: absolute;
    width: 100%;
    height: 50%;
  }

  .gambar-area-two {
    position: absolute;
    width: 100%;
    height: 50%;
    margin-left: 0px;
    margin-top: 300px;
  }

  .row-jumbotron {
    position: relative;
    flex-direction: column;
  }

  .column-jumbotron {
    float: left;
    width: 100%;
    height: 600px;
  }
}

@media (max-width: 1125px) {
  .text-jumbotron {
    top: 10%;
    left: 5%;
    font-size: 25px;
  }

  .button-jumbotron {
    top: 35%;
    left: 5%;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
  }

  .gambar-area-one {
    position: absolute;
    width: 100%;
    height: 80%;
  }

  .gambar-area-two {
    position: absolute;
    width: 100%;
    height: 80%;
    margin-left: 0px;
    margin-top: 300px;
  }

  .row-jumbotron {
    position: relative;
    flex-direction: column;
  }

  .column-jumbotron {
    float: left;
    width: 100%;
    height: 600px;
  }
}
