// Color
$color-one: #f6f8f8;
$color-two: black;
$color-three: #e2e3e2;
$color-four: #ffffff;
$color-five: #428ecb;

// Position
$position-one: relative;
$position-two: absolute;
$left: left;
$center: center;
$seratus-persen: 100%;

// Display
$display-one: flex;
$display-two: inline;
$display-three: inline-block;
$display-four: none;
$display-five: block;

// Font
$font-satu: sans-serif;

// Direction
$direction-one: row;
$direction-two: column;

.text-jumbotron {
  position: $position-two;
  top: 30%;
  left: 8%;
  color: $color-four;
  font-size: 30px;
  font-family: $font-satu;
}

.button-jumbotron {
  position: $position-two;
  top: 45%;
  left: 8%;
  background-color: #428ecb;
  border: $display-four;
  color: $color-four;
  padding: 15px 32px;
  text-align: $center;
  text-decoration: $display-four;
  display: $display-three;
  font-size: 16px;
  border-radius: 10px;
  font-family: $font-satu;
}

.gambar-area-one {
  position: $position-two;
  max-width: 100%;
  width: 55%;
  height: 100%;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.gambar-area-two {
  position: $position-two;
  max-width: 100%;
  width: 50%;
  height: 85%;
  margin-left: 672px;
}

.row-jumbotron {
  display: $display-one;
  flex-direction: $direction-one;
}

.column-jumbotron {
  float: $left;
  width: 100%;
  height: 600px;
}

@media (max-width: 700px) {
  .text-jumbotron {
    top: 50%;
    left: 5%;
    font-size: 25px;
  }

  .button-jumbotron {
    top: 25%;
    left: 5%;
    padding: 15px 32px;
    text-align: $center;
    font-size: 16px;
  }

  .gambar-area-one {
    position: $position-two;
    width: 100%;
    height: 50%;
  }

  .gambar-area-two {
    position: $position-two;
    width: 100%;
    height: 50%;
    margin-left: 0px;
    margin-top: 300px;
  }

  .row-jumbotron {
    position: $position-one;
    flex-direction: $direction-two;
  }

  .column-jumbotron {
    float: $left;
    width: 100%;
    height: 600px;
  }
}

@media (max-width: 1125px) {
  .text-jumbotron {
    top: 10%;
    left: 5%;
    font-size: 25px;
  }

  .button-jumbotron {
    top: 35%;
    left: 5%;
    padding: 15px 32px;
    text-align: $center;
    font-size: 16px;
  }

  .gambar-area-one {
    position: $position-two;
    width: 100%;
    height: 80%;
  }

  .gambar-area-two {
    position: $position-two;
    width: 100%;
    height: 80%;
    margin-left: 0px;
    margin-top: 300px;
  }

  .row-jumbotron {
    position: $position-one;
    flex-direction: $direction-two;
  }

  .column-jumbotron {
    float: $left;
    width: 100%;
    height: 600px;
  }
}
